<!-- create_group.html -->

{% extends 'boardgame/base.html' %}
{% load static %}
{% block content %}
<head>
    <h1>Create new group</h1>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIU8Gfx-COGs_FSN2zKXyFf7PX1QPDYHU&libraries=places"></script>
    <style>
        .scrollable-checkboxes {
        max-height: 110px; 
        width: 300px; 
        overflow-y: auto; /* Enables vertical scrolling */
        border: 1px solid #ddd; /* Boarder */
        padding: 10px; /* Padding */
    }

        .form-check {
        margin-bottom: 5px; /* Space between checkboxes */
    }
    </style>
</head>

<br/><br/>
<form action="{% url 'create_group' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="form-group">
        <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
        {{ form.name }}
    </div>
    <br/>
    <div class="form-group">
        <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
        {{ form.description }}
    </div>
    <br/>
    <br/>
    <div class="form-group">
        <label for="{{ form.group_privacy.id_for_label }}">{{ form.group_privacy.label }}</label>
        {{ form.group_privacy }}
    </div>
    <br/>
    <!-- Input field for location with autocomplete -->
    <div class="form-group">
        <label for="group-location">Group Location</label>
        <input type="text" id="group-location" class="form-control" style="width: 50%;" name="location_city">
        <!-- Hidden input to store place ID -->
        <input type="hidden" id="place-id" name="place_id">
    </div>
    <br/>
    <div class="form-group">
        <label for="{{ form.group_image.id_for_label }}">{{ form.group_image.label }}</label>
        {{ form.group_image }}
     </div>
     <br/>
     <!-- Categories Multi-Select Scrollable Box -->
     <div class="form-group">
        <label for="id_categories">{{ form.categories.label }}</label>
        <div class="scrollable-checkboxes">
            {{ form.categories }}
        </div>
    </div>
    <br/>

    <!-- Tags Multi-Select Scrollable Box -->
    <div class="form-group">
        <label for="id_tags">{{ form.tags.label }}</label>
        <div class="scrollable-checkboxes">
            {{ form.tags }}
        </div>
    </div>
    <br/>
    <input type="submit" value="Submit" class="btn btn-secondary">
</form>

<!-- JavaScript for Google Places Autocomplete -->
<script>
    function initAutocomplete() {
        var input = document.getElementById('group-location');
        var autocomplete = new google.maps.places.Autocomplete(input, {
            types: ['(regions)'], 
            fields: ['place_id', 'formatted_address', 'address_components', 'geometry']
        });

        autocomplete.addListener('place_changed', function() {
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                return;
            }
            // Log the full place object to see all available details
            console.log(place);

            // Set hidden input value to store place ID
            document.getElementById('place-id').value = place.place_id;
        });
    }
    google.maps.event.addDomListener(window, 'load', initAutocomplete);
</script>
{% endblock %}



