{% extends 'boardgame/base.html' %}
{% load static %}
{% block content %}
<h1>Create new event</h1>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <style>
        /* Align tooltip text to the left */
        .tooltip-inner {
            text-align: left;
        }
    </style>

</head>
<form id="event-form" method="POST" action="{% url 'create_event' group.slug %}" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- Event Form -->
    <div class="form-group">
    {{ form.title.label_tag }} {{ form.title }} <br/>
    {{ form.description.label_tag }} {{ form.description }} <br/>
    {{ form.date_time.label_tag }} {{ form.date_time }} <br/>
    {{ form.event_image.label_tag }} {{ form.event_image }} <br/>
    </div>
    <br/>
    <!-- Categories Multi-Select Scrollable Box -->
    <div class="form-group">
        <label for="id_categories">{{ form.categories.label }}</label>
        <div class="scrollable-checkboxes">
            {{ form.categories }}
        </div>
    </div>
    <br/>

    <!-- Tags Multi-Select Scrollable Box -->
    <div class="form-group">
        <label for="id_tags">{{ form.tags.label }}</label>
        <div class="scrollable-checkboxes">
            {{ form.tags }}
        </div>
    </div>
    <br/>
     <!-- Nomination Settings -->
     <div class="section">
        <h3>Game Nomination Settings</h3>
        <div class="form-group">
            <label for="id_nominations_open" class="d-flex align-items-center">
                Nominations Open:
                <i class="bi bi-info-circle ms-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true"
                   title="<strong>Enabled:</strong> Users can nominate games.<br><strong>Disabled:</strong> Nominations are closed and the section is removed from the event page."></i>
            </label>
            <div class="form-check form-switch">
                {{ form.nominations_open }}
            </div>
        </div>
        <br />
        <div class="form-group">
            <label for="id_signups_open" class="d-flex align-items-center">
                Game Sign-ups Open:
                <i class="bi bi-info-circle ms-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true"
                   title="<strong>Enabled:</strong> Approved games will be listed in the game sign-up section of the event page.<br><strong>Disabled:</strong> The game sign-up section will not appear on the event page and users cannot sign up for games."></i>
            </label>
            <div class="form-check form-switch">
                {{ form.signups_open }}
            </div>
        </div>
        <br />
    </div>

    <!-- Event Location input with Google Places Autocomplete -->
    <div class="form-group">
        <label for="event-location-input">Event Location</label>
        <input type="text" id="event-location-input" class="form-control" style="width: 50%;" name="location_address" autocomplete="off">
        <!-- Hidden input to store place ID -->
        <input type="hidden" id="place-id" name="place_id">
    </div>
    <br />

    <!-- Hidden input field to indicate location addition -->
    <input type="hidden" name="add_location" id="add_location" value="false">

    <!-- Button to show/hide location form -->
    <button type="button" class="btn btn-secondary" id="toggle-location-btn">Manually Add Location</button>

    <!-- Location form, initially hidden -->
    <div id="location-form" style="display: none; margin-top: 20px;">
        <!-- Location Form Fields for manual entry -->
        <div class="form-group">
            <label for="id_address">Address:</label>
            <input type="text" name="address" id="id_address" class="form-control" autocomplete="address-line1">
        </div>
        <div class="form-group">
            <label for="id_city">City:</label>
            <input type="text" name="city" id="id_city" class="form-control" autocomplete="address-level2">
        </div>
        <div class="form-group">
            <label for="id_postcode">Postcode:</label>
            <input type="text" name="postcode" id="id_postcode" class="form-control" autocomplete="postal-code">
        </div>
        <div class="form-group">
            <label for="id_country">Country:</label>
            <input type="text" name="country" id="id_country" class="form-control" autocomplete="country">
        </div>
    </div>

    <!-- Submit Button -->
    <input type="submit" value="Submit" class="btn btn-secondary">
</form>

<script>
    function initMap() {
        var autocomplete = new google.maps.places.Autocomplete(
            document.getElementById('event-location-input'), { types: ['geocode'] });

        autocomplete.addListener('place_changed', function () {
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                return;
            }

            // Populate hidden fields with place details
            document.getElementById('place-id').value = place.place_id;
            document.getElementById('id_address').value = place.formatted_address;
            document.getElementById('id_city').value = '';  // Extract city details as needed
            document.getElementById('id_postcode').value = '';  // Extract postcode details as needed
            document.getElementById('id_country').value = '';  // Extract country details as needed
        });
    }

    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('toggle-location-btn').addEventListener('click', function () {
            var locationForm = document.getElementById('location-form');
            var addLocationInput = document.getElementById('add_location');

            if (locationForm.style.display === 'none') {
                locationForm.style.display = 'block';
                addLocationInput.value = 'true';  // Set the hidden input value to true when showing the location form
                // Make location fields required when shown
                document.getElementById('id_address').setAttribute('required', 'required');
                document.getElementById('id_city').setAttribute('required', 'required');
                document.getElementById('id_postcode').setAttribute('required', 'required');
                document.getElementById('id_country').setAttribute('required', 'required');
            } else {
                locationForm.style.display = 'none';
                addLocationInput.value = 'false';  // Set the hidden input value to false when hiding the location form
                // Remove required attribute when hidden
                document.getElementById('id_address').removeAttribute('required');
                document.getElementById('id_city').removeAttribute('required');
                document.getElementById('id_postcode').removeAttribute('required');
                document.getElementById('id_country').removeAttribute('required');
            }
        });

        // Load Google Maps API script
        var script = document.createElement('script');
        script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDIU8Gfx-COGs_FSN2zKXyFf7PX1QPDYHU&libraries=places&callback=initMap';
        script.defer = true;
        script.async = true;
        document.head.appendChild(script);
    });
</script>
{% endblock %}

