{% extends 'boardgame/base.html' %}
{% load static %}

{% block content %}

    <script src="{% url 'js-catlog' %}"></script>
    <script src="{% static '/admin/js/core.js' %}"></script>
    <link rel="stylesheet" href="{% static 'admin/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
      
    <h1>Create new event</h1>
    <div class="container">
        <br><br>
        <form id="eventForm" action="{% url 'create_event' group.slug %}" method="POST">
            {% csrf_token %}
            {{ form.media }}
            {{ form }}
            <br/>
             <!-- Always show the event location form -->
            <div id="locationForm">
                <h1>Event Location</h1>
                {{ location_form.as_p }}
            </div>
            <input type="submit" value="Submit" class="btn btn-secondary">
        </form>
    </div>

        
      
{% endblock %}
