{% extends 'boardgame/base.html' %}
{% load static %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ event.title }}</title>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
</head>

<body>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-3">
                {% if event.event_image %}
                <img src="{{ event.event_image.url }}" class="profile-image img-fluid rounded" alt="Event Image">
                {% else %}
                <img src="{% static 'boardgame/images/group_profile_default.jpg' %}"
                    class="profile-image img-fluid rounded" alt="Default Image">
                {% endif %}
            </div>
            <div class="col-md-9">
                <h1>{{ event.title }}</h1>
                <div>
                    {% if user.is_authenticated %}
                    <form method="post" action="">
                        {% csrf_token %}
                        {% if is_attending %}
                        <button type="submit" class="btn btn-secondary btn-sm" name="leave">Leave Event</button>
                            {% if not event.admin_only_nominations or is_admin %}
                            <a href="{% url 'nominate_game' event.id %}" class="btn btn-secondary btn-sm">Nominate Game</a>
                            {% endif %}
                        {% else %}
                        <button type="submit" class="btn btn-secondary btn-sm" name="join">Join Event</button>
                        {% endif %}
                        {% if is_admin or is_moderator %}
                        <a href="{% url 'manage_event_dashboard' event.id %}" class="btn btn-primary btn-sm ">Manage Event</a>
                        {% endif %}
                    </form>
                    {% else %}
                    <p>You must <a href="{% url 'login' %}">login</a> first to join the event.</p>
                    {% endif %}
                </div>
                <br />
                <!-- Categories -->
                <div class="mb-1">
                    <strong class="small">Categories</strong>
                    <p class="small">
                        {% for category in event.categories.all %}
                        <a href="#" class="badge bg-primary text-decoration-none small py-1 px-2">{{ category.name }}</a>
                        {% empty %}
                        <span class="badge bg-secondary small py-1 px-2">No categories</span>
                        {% endfor %}
                    </p>
                </div>
                <!-- Tags -->
                <div class="mb-1">
                    <strong class="small">Tags</strong>
                    <p class="small">
                        {% for tag in event.tags.all %}
                        <a href="#" class="badge bg-info text-decoration-none small py-1 px-2">{{ tag.name }}</a>
                        {% empty %}
                        <span class="badge bg-secondary small py-1 px-2">No tags</span>
                        {% endfor %}
                    </p>
                </div>

                <br />
            </div>
            <br />
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <p><b>Date:</b> {{ event.date_time|date:"F j, Y" }}</p>
                <p><b>Time:</b> {{ event.date_time|date:"g:i A" }}</p>
                <p><b>Description:</b> {{ event.description }}</p>
            </div>
            <div class="col-sm-6">
                <div class="card location-card">
                    <div class="card-body">
                        <h5 class="card-title">Event Location</h5>
                        {% if event_location %}
                        <strong class="card-subtitle mb-2 text-muted">{{ event_location.name }}</strong>
                        <p class="card-text"><i class="bi bi-geo-alt-fill"></i> {{ event_location.address }}</p>
                        {% if event_location.latitude and event_location.longitude %}
                        <iframe class="card-img-bottom" width="100%" height="200" frameborder="0" style="border:0"
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDIU8Gfx-COGs_FSN2zKXyFf7PX1QPDYHU&q={{ event_location.latitude }},{{ event_location.longitude }}"
                            allowfullscreen>
                        </iframe>
                        {% endif %}
                        {% else %}
                        <p>No location specified for this event.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% if event.signups_open %}
        <hr>
        <ul class="nav nav-tabs" id="eventTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="nominated-games-tab" data-bs-toggle="tab" href="#nominated-games"
                    role="tab" aria-controls="nominated-games" aria-selected="true">Game Sign-Up</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="waitlisted-games-tab" data-bs-toggle="tab" href="#waitlisted-games" role="tab"
                    aria-controls="waitlisted-games" aria-selected="false">Waitlisted Games</a>
            </li>
        </ul>
        <div class="tab-content" id="eventTabsContent">
            <div class="tab-pane fade show active" id="nominated-games" role="tabpanel"
                aria-labelledby="nominated-games-tab">
                <div class="row mt-4">
                    {% for item in approved_nominations_with_slots %}
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <div class="card-header">
                                <h5>{{ item.nomination.name }}</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <b>Description:</b> {{ item.nomination.description|truncatewords:25|striptags|safe }}... <a href="{% url 'game_details' event.id item.nomination.id %}">See Details</a>
                                    <br /><br />
                                    <b>Difficulty:</b> {{ item.nomination.weight }} /5
                                    <br /><br />
                                    <b>Nominated by:</b> {{ item.nomination.nominator.username }}
                                    <br /><br />
                                    <b>Remaining Sign-up Slots:</b> {{ item.remaining_slots }}
                                    <br />
                                    {% if item.nomination.min_players > item.signed_up_count %}
                                    {% if item.players_needed == 1 %}
                                <p style="color: red;">We need {{ item.players_needed }} more player!</p>
                                {% else %}
                                <p style="color: red;">We need {{ item.players_needed }} more players!</p>
                                {% endif %}
                                {% endif %}
                                <br />
                                <a href="{% url 'game_details' event.id item.nomination.id %}"
                                    class="btn btn-secondary btn-sm">View Details</a>
                                <div>
                                    <br />
                                    {% if user.is_authenticated and is_attending %}
                                    <form method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="nomination_id" value="{{ item.nomination.id }}">
                                        {% if item.is_signed_up %}
                                        <button type="submit" class="btn btn-secondary btn-sm" name="leave_game">Leave
                                            Game</button>
                                        {% elif item.remaining_slots > 0 %}
                                        <button type="submit" class="btn btn-primary btn-sm" name="sign_up">Sign
                                            up</button>
                                        {% endif %}
                                        {% if item.nomination.nominator == user %}
                                        <button type="submit" class="btn btn-danger btn-sm"
                                            name="remove_nomination">Remove Nomination</button>
                                        {% endif %}
                                    </form>
                                    {% else %}
                                    <p>You must join event to sign up to play.</p>
                                    {% endif %}
                                </div>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="waitlisted-games" role="tabpanel" aria-labelledby="waitlisted-games-tab">
                <div class="row mt-4">
                    {% for item in waitlisted_games %}
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <div class="card-header">
                                <h5>{{ item.nomination.name }}</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <b>Description:</b> {{ item.nomination.description|truncatewords:25|striptags|safe }} ... <a href="{% url 'game_details' event.id item.nomination.id %}">See Details</a>
                                    <br /><br />
                                    <b>Difficulty:</b> {{ item.nomination.weight }} /5
                                    <br /><br />
                                    <b>Nominated by:</b> {{ item.nomination.nominator.username }}
                                    <br /><br />
                                    <b>Remaining Sign-up Slots:</b> {{ item.remaining_slots }}
                                    <br /><br />
                                    <a href="{% url 'game_details' event.id item.nomination.id %}"
                                        class="btn btn-secondary btn-sm">View Details</a>
                                <div>
                                    {% if user.is_authenticated and is_attending %}
                                    <form method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="nomination_id" value="{{ item.nomination.id }}">
                                        {% if item.is_signed_up %}
                                        <button type="submit" class="btn btn-secondary btn-sm" name="leave_game">Leave
                                            Game</button>
                                        {% endif %}
                                    </form>
                                    {% else %}
                                    <p>You must join event to sign up to play.</p>
                                    {% endif %}
                                </div>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        </hr>
        {% endif %}

        {% if event.nominations_open %}
        <hr>
        <h3>Game Nominations</h3>
        <div class="row mt-4">
            {% for game in nominations %}
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-header">
                        <h5>{{ game.name }}</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <b>Description:</b> {{ game.description|truncatewords:25|striptags|safe }}... <a
                                href="{% url 'game_details' event.id game.id %}">See Details</a>
                            <br /><br />
                            <b>Difficulty:</b> {{ game.weight }} /5
                            <br /><br />
                            <b>Nominated by:</b> {{ game.nominator.username }}
                            <br/> <br/>
                            <a href="{% url 'game_details' event.id game.id %}" class="btn btn-secondary btn-sm">View
                                Details</a>
                        <div>
                            {% if user.is_authenticated and is_attending %}
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="nomination_id" value="{{ game.id }}">
                                {% if game.id in user_votes %}
                                    <button type="submit" class="btn btn-danger btn-sm" name="remove_vote">Remove Vote</button>
                                {% else %}
                                    <button type="submit" class="btn btn-primary btn-sm" name="vote">Vote</button>
                                {% endif %}
                                {% if game.nominator == user %}
                                <button type="submit" class="btn btn-danger btn-sm" name="remove_nomination">Remove
                                    Nomination</button>
                                {% endif %}
                            </form>
                            {% else %}
                            <p>You must join event to vote.</p>
                            {% endif %}
                        </div>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr>
        {% endif %}
       
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        Attendees
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            {% for attendee in attendees %}
                            <li class="list-group-item">{{ attendee.username }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row mt-4">
            <div class="col-md-12">
                <a href="{% url 'group_profile' event.group.slug %}" class="btn btn-secondary btn-sm">Back to Group</a>
                <a href="{% url 'home' %}" class="btn btn-secondary btn-sm">Back to Home</a>
            </div>
        </div>
    </div>

</body>

{% endblock %}