{% extends 'boardgame/base.html' %}
{% load static %}
{% block content %}
<title>Groups</title>
<head>
<h3>Groups</h3>
</head>
<div class="container" style="padding-bottom: 30px;">
    <!-- Row for search bar and buttons -->
    <div class="row">
        <!-- Left column for search bar, buttons, and filters -->
        <div class="col-md-3">
            <!-- Search bar -->
            <div class="mb-2">
                <form method="get" action="{% url 'groups' %}">
                    <div class="input-group">
                        <input type="text" class="form-control" id="search-bar" name="search" placeholder="Search groups" value="{{ request.GET.search }}">
                    </div>
                </form>
                <br/>
                <a href="{% url 'groups' %}" class="btn btn-primary btn-sm">Featured Groups</a>
            </div>
            <!-- Buttons for actions -->
            {% if user.is_authenticated %}
            <div class="mb-5">
                <a href="?your_groups=true" class="btn btn-primary btn-sm mb-2">Your Groups</a><br/>
                <a href="{% url 'create_group' %}" class="btn btn-primary btn-sm mb-2">Create Group</a>
            </div>
            {% endif %}
    
            <hr>
            <!-- Tags and Categories Filters -->
            <div class="mb-3">
                <h5>Browse Groups by Game Categories</h5>
                <div class="row">
                    {% if categories %}
                    {% for category in categories %}
                    <div class="col-6 mb-2">
                        <a href="?category={{ category.name }}" class="category-link">{{ category.name }}</a>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p>No categories available</p>
                    {% endif %}
                </div>
            </div>
            <div class="mb-3">
                <h5>Browse Groups by Tags</h5>
                <div class="row">
                    {% if tags %}
                    {% for tag in tags %}
                    <div class="col-6 mb-2">
                        <a href="?tag={{ tag.name }}" class="tag-link">{{ tag.name }}</a>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p>No tags available</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Right column for group cards -->
        <div class="col-md-9">
            <h3>
                {% if request.GET.your_groups %}
                    Your Groups
                {% elif request.GET.tag %}
                    Results for Tag: {{ request.GET.tag }}
                {% elif request.GET.category %}
                    Results for Category: {{ request.GET.category }}
                {% else %}
                    Featured Groups
                {% endif %}
            </h3>
          
            <div class="row" id="group-cards">
                {% if groups %}
                {% for group in groups %}
                <div class="col-md-4 mb-3">
                    <div class="card-custom" style="border: none; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
                        <div class="card-body">
                            {% if group.group_image %}
                            <img src="{{ group.group_image.url }}" class="rounded" style="width: 100%; height: 150px; object-fit: cover;">
                            {% else %}
                            <img src="{% static 'boardgame/images/group_profile_default.jpg' %}" class="rounded" style="width: 100%; height: 150px; object-fit: cover;">
                            {% endif %}
                            <br/>  <br/>
                            <h5>{{ group.name }}</h5> 
                            <div class="d-flex align-items-center mb-2">
                                <i class="bi bi-people me-2"></i>
                                <span> Members: {{ group.group_members.all.count }}</span>
                            </div>
                             <div class="d-flex align-items-center mb-2">
                                <i class="bi bi-geo-alt me-2"></i>
                                <span>{{ group.grouplocation.city }}{% if group.grouplocation.state %}, {{ group.grouplocation.state }}{% endif %}</span>
                            </div>
                             <a href="{% url 'group_profile' group.slug %}" class="btn btn-secondary btn-sm">View Group</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <strong>There are no groups present.</strong>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Link back to home -->
    <div class="mt-3">
        <a href="{% url 'home' %}" class="btn btn-secondary btn-sm">Back to Home</a>
    </div>
</div>



<style>
    .card-custom {
        border: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px; /* Rounded corners for cards */
        width: 100%; /* Full width of the parent container */
    }
    /* Styling for tags and categories */
    .tag-link, .category-link {
        text-decoration: none;
        color: #4275af; /* Primary color for links */
        font-size: 0.9rem; /* Slightly smaller font size */
    }

    /* Ensure two items per row */
    .row > div {
        margin-bottom: 1rem;
    }
</style>

{% endblock %}
