{% extends 'boardgame/base.html' %}

{% block content %}
    <h1>{{ group.name }}</h1>
    <p>Description: {{ group.description }}</p>
    <p>Location: {{ group.location }}</p>

    <!-- Debug Output -->
    <p>Is Admin: {{ is_admin }}</p>

    <!-- Show Create Event button if user is group admin of this group -->
    {% if is_admin %}
        <a href="{% url 'create_event' group.slug %}" class="btn btn-primary">Create Event</a>
    {% else %}
        <strong>Join Event button</strong>
    {% endif %}

    <!-- Link back to home -->
    <div>
        <a href="{% url 'home' %}">Back to Home</a>
    </div>
{% endblock %}
