{% extends 'boardgame/base.html' %}

{% block content %}
<title>Groups</title>

{% if user.is_authenticated %}
<div class="d-flex justify-content-between align-items-center">
    <h3>Your Groups</h3>
    <a href="{% url 'create_group' %}" class="btn btn-primary btn-sm">Create Group</a>
</div>
<br/>
<!-- Display user's groups -->
<div class="row">
    {% if user_groups %}
    {% for group_member in user_groups %}
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-header">
                <h4>{{ group_member.group.name }}</h4>
            </div>
            <div class="card-body">
                <p class="card-text">
                    <b>Description:</b> {{ group_member.group.description }}<br />
                    <b>Location:</b>{{ group_member.group.location }}<br /><br />
                    <a href="{% url 'group_profile' group_member.group.slug %}" class="btn btn-secondary btn-sm">View
                        Group</a>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>You are not a member of any groups yet.</p>
    {% endif %}
</div>
{% endif %}

<div>
    <h3>Featured Groups</h3>
    <br />
    {% if groups %}
    <div class="row">
        {% for group in groups %}
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-header">
                    <h4>{{ group.name }}</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <b>Description:</b> {{ group.description }}<br />
                        <b>Location:</b> {{ group.location }}<br /><br />
                        <a href="{% url 'group_profile' group.slug %}" class="btn btn-secondary btn-sm">View Group</a>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <strong>There are no groups present.</strong>
    {% endif %}
</div>

<!-- Link back to home -->
<br /><br />
<div>
    <a href="{% url 'home' %}">Back to Home</a>
</div>

{% endblock %}