{% extends 'boardgame/base.html' %}
{% load static %}
{% block content %}

<head>
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="{% static 'boardgame/style.css' %}">
</head>

<body>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1 class="test">Welcome to Board Game Meet!</h1>
                <div>
                    Join a community and discover new board games, meet new friends, <br>
                    and participate in exciting events. <br /><br />

                    {% if not user.is_authenticated %}
                    <a class="btn btn" type="submit" style="background-color: #328ba3; border-color: #328ba3; color: #ffffff;" href="{% url 'register' %}">Sign Up!</a>
                    {% else %}
                    <a class="btn btn" type="submit" style="background-color: #328ba3; border-color: #328ba3; color: #ffffff;" href="{% url 'groups' %}">Find groups!</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6 text-center">
                <img src="{% static 'boardgame/images/boardgamehome.jpeg' %}" alt="Board Game Home" class="img-fluid rounded" />
            </div>
        </div>

    </div>
    <div>
        <!-- Featured Groups -->
        {% if not user.is_authenticated %}
        <div class="card mb-4" style="background-color: #f8f9fa; border: none;">
            <div class="card-header" style="background-color: #e9ecef;">
                <h3>Featured Groups</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    {% if groups %}
                    {% for group in groups %}
                    <div class="col-md-4 mb-3">
                        <div class="card" style="border: none; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
                            <div class="card-header" style="background-color: #e9ecef;">
                                <h4>{{ group.name }}</h4>
                            </div>
                            <div class="card-body">
                                {% if group.group_image %}
                                <img src="{{ group.group_image.url }}" class="profile-image rounded mb-3" style="max-width: 100%;">
                                {% else %}
                                <img src="{% static 'boardgame/images/group_profile_default.jpg' %}" class="profile-image rounded mb-3" style="max-width: 100%;">
                                {% endif %}
                                <b>Members:</b> {{ group.group_members.all.count }}
                                <p><b>Location:</b> {{ group.grouplocation.city }}{% if group.grouplocation.state %}, {{ group.grouplocation.state }}{% endif %}</p>
                                <a href="{% url 'group_profile' group.slug %}" class="btn btn-secondary btn-sm">View Group</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <strong>There are no groups present.</strong>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- Featured Events -->
        <div class="card mb-4" style="background-color: #f8f9fa; border: none;">
            <div class="card-header" style="background-color: #e9ecef;">
                <h3>Featured Events</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    {% if events %}
                    {% for event in events %}
                    <div class="col-md-4 mb-3">
                        <div class="card" style="border: none; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
                            <div class="card-header" style="background-color: #e9ecef;">
                                <h4>{{ event.title }}</h4>
                            </div>
                            <div class="card-body">
                                {% if event.event_image %}
                                <img src="{{ event.event_image.url }}" class="profile-image rounded mb-3" style="max-width: 100%;">
                                {% else %}
                                <img src="{% static 'boardgame/images/event_image_default.jpg' %}" class="profile-image rounded mb-3" style="max-width: 100%;">
                                {% endif %}
                                <b>Date:</b> {{ event.date_time }}<br>
                                <p><b>Location:</b> {{ event.eventlocation.city }}{% if event.eventlocation.state %}, {{ event.eventlocation.state }}{% endif %}</p>
                              
                                <a href="{% url 'event_details' event.id %}" class="btn btn-secondary btn-sm">View Event</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <strong>There are no events present.</strong>
                    {% endif %}
                </div>
            </div>
        </div>
        {% else %}

    <!-- User's Groups -->
    <div class="card mb-4" style="background-color: #f8f9fa; border: none;">
        <div class="card-header" style="background-color: #e9ecef;">
            <h3>Your Groups</h3>
        </div>
        <div class="card-body">
            <div class="row">
                {% if user_groups %}
                    {% for group_member in user_groups %}
                        <div class="col-md-4 mb-3">
                            <div class="card" style="border: none; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
                                <div class="card-header" style="background-color: #e9ecef;">
                                    <h4>{{ group_member.group.name }}</h4>
                                </div>
                                <div class="card-body">
                                    <div class="group-profile">
                                        {% if group_member.group.group_image %}
                                        <img src="{{ group_member.group.group_image.url }}" class="profile-image rounded">
                                        {% else %}
                                        <img src="{% static 'boardgame/images/group_profile_default.jpg' %}" class="profile-image rounded">
                                        {% endif %}
                                        <br/><br/>
                                        {{ group_member.group.group_members.all.count }} members
                                        <p><b>Location:</b> {{ group_member.group.grouplocation.city }}{% if group_member.group.grouplocation.state %}, {{ group_member.group.grouplocation.state }}{% endif %}</p>
                                        <a href="{% url 'group_profile' group_member.group.slug %}" class="btn btn-secondary btn-sm">View Group</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>You are not a member of any groups yet.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- User's Events -->
    <div class="card mb-4" style="background-color: #f8f9fa; border: none;">
        <div class="card-header" style="background-color: #e9ecef;">
            <h3>Your Events</h3>
        </div>
        <div class="card-body">
            <div class="row">
                {% if user_events %}
                    {% for event_attendance in user_events %}
                        <div class="col-md-4 mb-3">
                            <div class="card" style="border: none; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
                                <div class="card-header" style="background-color: #e9ecef;">
                                    <h4>{{ event_attendance.event.title }}</h4>
                                </div>
                                <div class="card-body">
                                    {% if event_attendance.event.event_image %}
                                    <img src="{{ event_attendance.event.event_image.url }}" class="profile-image rounded mb-3" style="max-width: 100%;">
                                    {% else %}
                                    <img src="{% static 'boardgame/images/event_image_default.jpg' %}" class="profile-image rounded mb-3" style="max-width: 100%;">
                                    {% endif %}
                                    <br/>
                                    <b>Date:</b> {{ event_attendance.event.date_time }}<br>
                                    <p><b>Location:</b> {{ event_attendance.event.eventlocation.city }}{% if event_attendance.event.eventlocation.state %}, {{ event_attendance.event.eventlocation.state }}{% endif %}</p>
                                    <a href="{% url 'event_details' event_attendance.event.id %}" class="btn btn-secondary btn-sm">View Event</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>You are not attending any events yet.</p>
                {% endif %}
            </div>
        </div>
    </div>
        {% endif %}
        <br>
        <div>
            <a href="/boardgame/about/">About Board Game Meetup</a><br />
        </div>
    </div>
</body>
{% endblock %}
