{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark" style="background: linear-gradient(to right, #a0dfee, #b9a7d1); box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); padding: 10px;">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">BoardGameMeet</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex me-auto mb-2 mb-lg-0" method="POST" action="{% url 'search' %}">
        {% csrf_token %}
        <input class="form-control custom-search-bar" type="search" placeholder="Neighborhood, town, city" aria-label="Search" name="searched">
        <button class="btn" type="submit" style="background-color: #328ba3; border-color: #328ba3; color: #ffffff;">Search</button>
      </form>
      <ul class="navbar-nav me-5 mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}" style="color: white;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'groups' %}" style="color: white;">Groups</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'events' %}" style="color: white;">Events</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item dropdown d-flex align-items-center">
          <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
            <img src="{% if user.userprofile.picture %}{{ user.userprofile.picture.url }}{% else %}{% static 'boardgame/images/default_profile.jpg' %}{% endif %}" class="rounded-circle me-2" style="width: 30px; height: 30px; object-fit: cover;">
            Profile
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'user_profile' request.user.id %}">View Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'profile_edit' %}">Edit Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}" style="color: white;">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}" style="color: white;">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
