<!-- profile_setup.html -->
{% extends 'boardgame/base.html' %}
{% load static %}

{% block title %}Profile Setup{% endblock %}

{% block content %}
<head>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIU8Gfx-COGs_FSN2zKXyFf7PX1QPDYHU&libraries=places"></script>
</head>

<div class="container mt-4">
    <h2>Profile Setup</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label>About Me</label>
            {{ profile_form.bio }}
        </div>
        <br/>
        <div class="form-group">
            <label>What are your favourite games?</label>
            {{ profile_form.favorite_games }}
        </div>
        <br/>
        <!-- Input field for location with autocomplete -->
        <div class="form-group">
            <label for="user-location">Location</label>
            <input type="text" id="user-location" class="form-control" style="width: 50%;" name="location_city" placeholder="City or town">
            <!-- Hidden input to store place ID -->
            <input type="hidden" id="place-id" name="place_id">
        </div>
        <br/>
        <!-- Categories Multi-Select Scrollable Box -->
        <div class="form-group">
            <label>Game Interests</label>
            <div class="scrollable-checkboxes">
                {{ profile_form.categories }}
            </div>
        </div>
        <br/>
        <!-- Tags Multi-Select Scrollable Box -->
        <div class="form-group">
            <label>Meetup Interests</label>
            <div class="scrollable-checkboxes">
                {{ profile_form.tags }}
            </div>
        </div>
        <br/>
        <div class="form-group">
            <label for="{{ profile_form.picture.id_for_label }}" class="form-label">Profile Picture</label>
            <input type="file" id="{{ profile_form.picture.id_for_label }}" name="picture" class="form-control form-control-sm" style="max-width: 400px;">
        </div>
        <br/>
        <div class="form-group" style="display: flex; align-items: center;">
            <button type="submit" class="btn btn-primary btn-sm" style="margin-right: 15px;">Save Profile</button>
            <p style="margin: 0;">
                <a href="{% url 'home' %}" class="text-muted">
                    <i class="fas fa-times-circle"></i> Skip for now
                </a>
            </p>
        </div>
    </form>
</div>
<!-- JavaScript for Google Places Autocomplete -->
<script>
    function initAutocomplete() {
        var input = document.getElementById('user-location');
        var autocomplete = new google.maps.places.Autocomplete(input, {
            types: ['(regions)'], 
            fields: ['place_id', 'formatted_address', 'address_components', 'geometry']
        });

        autocomplete.addListener('place_changed', function() {
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                return;
            }
            // Log the full place object to see all available details
            console.log(place);

            // Set hidden input value to store place ID
            document.getElementById('place-id').value = place.place_id;
        });
    }
    google.maps.event.addDomListener(window, 'load', initAutocomplete);
</script>
{% endblock %}
