{% extends 'boardgame/base.html' %}

{% block content %}
{% if form.errors %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Warning:</strong> 
    <ul>
        {% for field, errors in form.errors.items %}
        {% for error in errors %}
        <li>{{ error }}</li>
        {% endfor %}
        {% endfor %}
    </ul>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<div class="shadow p-4 mb-5 bg-body rounded">
    <h1>Update password</h1>
    <br />
    <form action="{% url 'update_password' %}" method=POST>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Update Passowrd</button> 
    </form>
    <br/>
</div>

{% endblock %}
